.btn {
  transition: all 0.3s ease;
  padding: 20px 50px;
  &:hover {
    box-shadow: 0 8px 20px rgba(56, 87, 241, 0.3);
    transform: scale(1.03);
  }
}


    // a {
    //   display: inline-block;
    //   padding: 20px 50px;
    //   font-family: $secondary-font;
    //   font-size: 16px;
    //   background: $primary-color;
    //   border-radius: 7px;
    //   color: #ffffff;
    //   text-decoration: none;
    //   border: 1px solid transparent;
    //   transition: all 0.3s ease;
    //   transform: scale(1);
    //   &:hover {
    //     background: #425fee;
    //     box-shadow: 0 8px 20px rgba(56, 87, 241, 0.3);
    //     transform: scale(1.03);
    //   }
    // }