

.base-font {
    font-family: $font-family-base;
}

a.text-light, a.text-dark {
    transition: all .3s ease;
    &:hover{
        color: $primary !important; // Yeah, I'm using "!important", what of it?
    }
}


// body{
//   font-family: $primary-font;
//   font-size: 16px;
//   color: $text-color;
// }

// h1, .h1, h2, h3, h4, h5, h6{
//   font-family: $font-family-header;
// }

// p{
//   font-size: 16px;
//   color: $text-color;
// }

// h1{
//   font-size: 60px;
// }

// h2{
//   font-size: 50px;
// }

// h3{
//   font-size: 30px;
// }

// h4{
//   font-size: 25px;
// }

// h5{
//   font-size: 18px;
// }

// h6{
//   font-size: 15px;
//   font-weight: 300;
// }