{{ with .Site.Data.blogSection }}
    {{ if .enable }}
<section class="section blog" id="blog">
  <div class="blog__shape">
    <img src="images/blog/blog-shape.svg" alt="blog shape" />
  </div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-6">
        <div class="blog__header">
          <span>{{ .topTitle }}</span>
          <h1> {{ .title }} </h1>
          <p> {{ .subtitle }} </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="blog__header_button desktop">
          <a href="{{ .buttonTarget | absURL }}">See all post</a>
        </div>
      </div>
    </div>

    <div class="row">
      {{ range first 3 (where $.Site.RegularPages "Type" "!=" "portfolio") }}
      <div class="col-lg-4">
        <div class="blog__item">
          <div class="blog__item-thumb">
            <img src="{{ .Params.featureImage | absURL }}" alt="post-image">
          </div>
          <div class="blog__item-content">
            <span>{{ .PublishDate.Format "January 2, 2006" }}</span>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </div>
        </div>
      </div>
      {{ end }}
      
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="blog__header_button mobile">
          <a href="{{ .buttonTarget | absURL }}">See all post</a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}